<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317243990757-qbaklbju96bec5q1kgi76shcj5fq2t3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317243990757-qbaklbju96bec5q1kgi76shcj5fq2t3i</string>
	<key>API_KEY</key>
	<string>AIzaSyDbx7M8uyTQ1fSVVuVQdmTN2P-jckpn1ZY</string>
	<key>GCM_SENDER_ID</key>
	<string>317243990757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mardyoe.courier.app5</string>
	<key>PROJECT_ID</key>
	<string>courier-tracking-99a44</string>
	<key>STORAGE_BUCKET</key>
	<string>courier-tracking-99a44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317243990757:ios:d9bbe5ba88f32c58</string>
	<key>DATABASE_URL</key>
	<string>https://courier-tracking-99a44.firebaseio.com</string>
</dict>
</plist>